:root {
  --wsf-color-dark-blue: #002E5D;
  --wsf-color-light-gray: #A7A8AA;
  --wsf-color-accent-blue: #418FDE;
  --wsf-color-link: #0961a8;
  --wsf-admin-header-padding-block: 16px;
  --wsf-admin-header-content-height: 32px;
  --wsf-admin-header-border-width: 1px;
  --wsf-admin-header-height: calc(
  	var(--wsf-admin-header-padding-block)
  	+ var(--wsf-admin-header-content-height)
  	+ var(--wsf-admin-header-padding-block)
  	+ var(--wsf-admin-header-border-width)
  );
  --wsf-admin-body-width: 100vw;
  --wsf-admin-menu-width: 160px;
  --wsf-admin-sidebar-width: 400px;
  --wsf-admin-sidebar-margin: calc(var(--wsf-admin-sidebar-width) + 1px);
  --wsf-admin-sidebar-resize-height: 48px;
  --wsf-admin-sidebar-resize-width: 12px;
  --wsf-admin-sidebar-width-expanded: calc(var(--wsf-admin-body-width) - var(--wsf-admin-menu-width));
  --wsf-admin-layout-editor-min-width: 820px;
  --wsf-admin-layout-editor-width: max(
  	var(--wsf-admin-layout-editor-min-width),
  	calc(var(--wsf-admin-body-width) - var(--wsf-admin-menu-width))
  );
}

.wsf-sidebar-resize.wsf-sidebar-resize-active {
  background-color: #002E5D !important;
  border-color: #002E5D !important;
}
.wsf-sidebar-resize.wsf-sidebar-resize-active::after {
  background-color: #fff !important;
  box-shadow: 0 10px 0 #fff, 0 20px 0 #fff !important;
}