:root {
  --wp-sidebar-width: 160px;
  --wp-sidebar-width-folded: 36px;
  --wp-sidebar-width-mobile: 190px;
  --wsf-admin-sidebar-width: 340px;
  --wsf-admin-sidebar-margin: calc(var(--wsf-admin-sidebar-width) + 1px);
  --wsf-admin-sidebar-resize-height: 80px;
  --wsf-admin-sidebar-resize-width: 8px;
}